<launch>
	<arg name="model" default='$(find zadanie2)/urdf/static.urdf' />
	<arg name="gui" default="False" />
	<param name="robot_description" textfile="$(arg model)" />
	<param name="use_gui" value="$(arg gui)"/>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find zadanie2)/urdf.rviz" required="true" />
</launch>
